<% if user_signed_in? %>
  <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
<% else %>
  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
<% end %>

<table border="1">

  <tr>
    <th>利用者名</th> <th>薬の有無</th> <th>備考（薬の変更等）</th>
  </tr>

  <tr>
    <td><input type="text" size="45" maxlength="50" name="reserve1" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve2" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve3" value=""></td>
  </tr>

  <tr>
    <td><input type="text" size="45" maxlength="50" name="reserve4" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve5" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve6" value=""></td>
  </tr>

  <tr>
    <td><input type="text" size="45" maxlength="50" name="reserve7" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve8" value=""></td>
    <td><input type="text" size="45" maxlength="50" name="reserve9" value=""></td>
  </tr>
</table>
<div class="reload-btn">
    <input class='reload-red-btn' type="submit" value="更新する">
</div>
<%# <%= f.submit "更新" ,class:"reload-red-btn" %>